
@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --dashboard-background: #fff;
    --black-accent: #0a0a0a;
    --font-color: #121212;
    --text-dark-secondary: #888888;
    --text-dark-primary: #F3F8FF;
    --white-accent: #efefef;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --dashboard-background: #fff;
    --black-accent: #0a0a0a;
    --font-color: #121212;
    --text-dark-secondary: #888888;
    --text-dark-primary: #F3F8FF;
    --white-accent: #efefef;
  }
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100vh !important;
}

body{
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: var(--white-accent);
}

hr{
  color: var(--text-dark-secondary) !important;
}

#cust-sh{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}

