@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #0A0A0A;
    font-family: "Work Sans", sans-serif;
    text-align: center;
    letter-spacing: 2px;
    
}

html {
    scroll-behavior: smooth;
}

#header {
    height: 12vh;
    display: flex;

    border-bottom: 2px solid rgba(239, 239, 239, 0.50);
}

#header>img {
    height: 5vh;

    margin-top: 2%;
    margin-left: 3%;
}

.button-style {
    border: 0;
    border-radius: 10px;

    width: 6vw;
    height: 4vh;

    font-size: 20px;

    margin-top: 2.5%;
    margin-left: 1%;
    font-weight: bold;
}

#Contact {
    margin-left: 60%;

    background-color: #0A0A0A;
    color: #EFEFEF;
}

.border-button {
    background-color: #0A0A0A;
    color: #EFEFEF;

    border: 1px solid rgba(239, 239, 239, 0.50);
}

#heading {
    color: #F3F8FF;
}

#heading-text {
    font-size: 80px;
    margin-top: 10%;
}

#heading-text>span {
    text-decoration: underline;
}

#under-text {
    margin-top: -2%;
    color: #888;
}

#under-text>span {
    font-weight: bold;
    color: #F3F8FF;
}

#alpha {
    margin-top: 2%;
    color: rgba(136, 136, 136, 0.50);
}

.under-button {
    height: 7vh;
    width: 10vw;
    margin: 1%;
}

#info {
    margin-top: 10%;
    color: #EFEFEF;
    text-align: left;
}

#info-heading-div {
    display: flex;
    justify-content: center;
}

#info-heading-div>div {
    margin-top: 1%;
    margin-left: 2%;
}

#info-heading-div>h1 {
    font-size: 40px;
}

.info-dim {
    color: #888;
}

.info-dim>span {
    color: #EFEFEF;
}

.info-text-div {
    width: 20vw;

    margin: 2%;
    padding: 1%;

    border-radius: 10px;
}

.info-flex-div {
    display: flex;
    justify-content: center;
}

#start {
    text-align: left;
    color: #EFEFEF;
    margin-top: 10%;
}

#start>h1 {
    font-size: 130px;
    padding-left: 5%;
}

#start-div {
    margin-top: 10%;
    margin-left: 20%;

    font-size: 30px;
}

#start-div>div {
    display: flex;
}

.start-button {
    margin-top: 3%;
    margin-right: 10%;
}

#main-footer {
    border-top: 2px solid rgba(239, 239, 239, 0.50);
    color: #EFEFEF;
    display: flex;
    height: 40vh;
    margin-top: 10%;
}

.div-footer {
    display: block;
    margin-left: 5%;
    margin-top: 5%;
}

#div-footer-1 {
    margin-left: 25%;
}

#div-footer-0 {
    margin-left: 10%;
    text-align: left;
}

#main-footer>div>img {
    height: 10vh;
}

.button-footer {
    background-color: #0A0A0A;
    color: #EFEFEF;
}

.div-footer {
    margin-right: 8%;
}